/* Estilos personalizados para la tabla */
.table th, .table td {
    text-align: center;
    white-space: nowrap; /* Evita que el texto se ajuste en varias líneas */
}

/* Estilo para hacer que toda la fila sea clickeable */
.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #f1f1f1;
}

/* Personalización de la tabla */
.table-wrapper {
    max-height: 700px; /* Define la altura máxima de la tabla */
    overflow-y: auto; /* Habilita el scroll vertical */
    overflow-x: auto; /* Habilita el scroll horizontal */
    display: block;
    margin: 30px; /* Márgenes alrededor de la tabla */
    border: 1px solid #ddd; /* Borde sutil alrededor de la tabla */
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
}

/* Estilo para los botones */
.btn {
    margin-left: 10px;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

/* Estilo para que los encabezados queden fijos */
.table thead th {
    position: sticky;
    top: 0;
    z-index: 1; /* Asegura que los encabezados estén por encima del contenido */
    background-color: #343a40;
    color: white;
}

/* Asegura que las columnas tengan un ancho fijo */
.table th, .table td {
    width: 200px; /* Ajusta este valor según tus necesidades */
}

.table-wrapper {
    margin: 0px;
    max-height: 525px;
}

.bg-dark {
    background-color: #000000 !important;
}

.table .thead-dark th {
    background-color: #000000;
    border-color: #000000;
}