{% extends 'base/lista/listado_base.html' %} <!-- Hereda de la plantilla base -->

{% block title %}Equipos informáticos{% endblock %} <!-- Sobrescribe el título de la página -->

{% block subtitle %}Equipos informáticos{% endblock %} <!-- Título secundario (puedes personalizarlo) -->

{% block table_headers %}
    <!--<th>ID</th>-->
    <th>Etiqueta</th>
    <th>S.O.</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Estado</th>
    <th>Usuario asignado</th>
    <th>Ubicacion</th>
{% endblock %}

{% block table_body %}
    {% for equipo in equipos %}
    <tr class="clickable-row" data-href="{% url 'detalle_equipo' equipo.id %}">
        <!--<td>{{ equipo.id }}</td>-->
        <td>{{ equipo.etiqueta }}</td>
        <td>{{ equipo.sistema_operativo.nombre }}</td>
        <td>{{ equipo.modelo.marca.marca }}</td>
        <td>{{ equipo.modelo.nombre }}</td>
        <td>{{ equipo.estado.nombre }}</td>
        <td>
            {% if equipo.usuario_asignado %}
                {{ equipo.usuario_asignado.nombre_completo }}
            {% else %}
                No asignado
            {% endif %}
        </td>
        <td>
            {% if equipo.usuario_asignado and equipo.usuario_asignado.ubicacion %}
                {{ equipo.usuario_asignado.ubicacion.nombre }}
            {% else %}
                No asignado
            {% endif %}
        </td>



    </tr>
    {% endfor %}
{% endblock %}
