{% extends 'base/lista/listado_base.html' %} <!-- Hereda de la plantilla base -->

{% block title %}Equipos informáticos{% endblock %} <!-- Sobrescribe el título de la página -->

{% block subtitle %}Equipos informáticos{% endblock %} <!-- Título secundario (puedes personalizarlo) -->

{% block group_dropdown %}
<div class="dropdown">
  <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="groupDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Agrupar por...
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="groupDropdown">
    <button class="dropdown-item group-option" data-column-name="S.O.">S.O.</button>
    <button class="dropdown-item group-option" data-column-name="Marca">Marca</button>
    <button class="dropdown-item group-option" data-column-name="Modelo">Modelo</button>
    <button class="dropdown-item group-option" data-column-name="Estado">Estado</button>
    <button class="dropdown-item group-option" data-column-name="Usuario asignado">Usuario asignado</button>
    <button class="dropdown-item group-option" data-column-name="Ubicación">Ubicación</button>
  </div>
</div>
{% endblock %}


{% block table_headers %}
    <!--<th>ID</th>-->
    <th class="sorting">Etiqueta</th>
    <th class="sorting">S.O.</th>
    <th class="sorting">Marca</th>
    <th class="sorting">Modelo</th>
    <th class="sorting">Estado</th>
    <th class="sorting">Usuario asignado</th>
    <th class="sorting">Ubicación</th>
{% endblock %}

{% block table_body %}
    {% for equipo in equipos %}
    <tr class="clickable-row" data-href="{% url 'detalle_equipo' equipo.id %}">
        <!--<td>{{ equipo.id }}</td>-->
        <td>{{ equipo.etiqueta }}</td>
        <td>{{ equipo.sistema_operativo.nombre }}</td>
        <td>{{ equipo.modelo.marca.marca }}</td>
        <td>{{ equipo.modelo.nombre }}</td>
        <td>{{ equipo.estado.nombre }}</td>
        <td>
            {% if equipo.usuario_asignado %}
                {{ equipo.usuario_asignado.nombre_completo }}
            {% else %}
                No asignado
            {% endif %}
        </td>
        <td>
            {% if equipo.usuario_asignado and equipo.usuario_asignado.ubicacion %}
                {{ equipo.usuario_asignado.ubicacion.nombre }}
            {% else %}
                No asignado
            {% endif %}
        </td>



    </tr>
    {% endfor %}
{% endblock %}
