{% extends 'base/lista/listado_base.html' %} <!-- Hereda de la plantilla base -->

{% block title %}Modelos de Equipos{% endblock %} <!-- Sobrescribe el título de la página -->

{% block subtitle %}Modelos de Equipos{% endblock %} <!-- Título secundario (puedes personalizarlo) -->

{% block group_dropdown %}
    <div class="dropdown">
    <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="groupDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Agrupar por...
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="groupDropdown">
        <button class="dropdown-item group-option" data-column-name="Marca">Marca</button>
    </div>
    </div>
{% endblock %}

{% block table_headers %}
    <th>ID</th>
    <th>Nombre</th>
    <th>Marca</th>
    <th>Tipo</th>
{% endblock %}

{% block table_body %}
    {% for modelo in modelos %}
    <tr class="clickable-row" data-href="{% url 'detalle_modelo_equipo' modelo.id %}">
        <td>{{ modelo.id }}</td>
        <td>{{ modelo.nombre }}</td>
        <td>{{ modelo.marca.marca }}</td>
        <td>{{ modelo.tipo.tipo }}</td>
    </tr>
    {% endfor %}
{% endblock %}
