{% include 'navbar/navbar.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-danger mb-4">Parámetros del Sistema</h1>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Obras
            <a href="{% url 'obras_listar' %}" class="btn btn-danger btn-sm">Administrar</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Salas de Venta
            <a href="{% url 'salas_listar' %}" class="btn btn-secondary btn-sm">Administrar</a>
        </li>
    </ul>
</div>
{% endblock %}