<form method="POST" action="{{ action_url }}" id="form-edicion" class="{{ form_classes|default:'' }}">
    {% csrf_token %}

    <!-- Etiqueta + Botones alineados -->
    <div class="d-flex justify-content-between align-items-start mb-3 flex-wrap">
        <div class="flex-grow-1 me-3">
            <label><strong>Número de Equipo:</strong></label>
            <div class="w-50">
                {{ form.etiqueta }}
            </div>
        </div>
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
            {% if modo_creacion %}
                <a href="{% url 'listado_equipos' %}" class="btn btn-editar btn-sm">Cancelar</a>
            {% else %}
                <button type="button" class="btn btn-editar btn-sm" onclick="toggleEdicion()">Cancelar</button>
            {% endif %}
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="border rounded p-3 h-100">
                <div class="mb-2">
                    <label><strong>Marca:</strong></label>
                    <input type="text" id="marca-display" class="form-control" value="{{ marca_actual }}" readonly>
                </div>
                <div class="mb-2">
                    <label><strong>Modelo:</strong></label>
                    {{ form.modelo }}
                </div>
                <div class="mb-2">
                    <label><strong>Sistema Operativo:</strong></label>
                    {{ form.sistema_operativo }}
                </div>
                <div class="mb-2">
                    <label><strong>Procesador:</strong></label>
                    {{ form.procesador }}
                </div>
                <div class="mb-2">
                    <label><strong>Memoria RAM:</strong></label>
                    {{ form.memoria_ram }}
                </div>
                <div class="mb-2">
                    <label><strong>Almacenamiento:</strong></label>
                    {{ form.almacenamiento }}
                </div>
                <div class="mb-2">
                    <label><strong>Estado:</strong></label>
                    {{ form.estado }}
                </div>
            </div>
        </div>

    </div>

</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('.select2').select2({
          width: '100%',  // Para que se vea igual al form-control
          placeholder: "Selecciona un modelo",
          allowClear: true
        });
      });

</script>
