{% extends 'navbar/navbar.html' %}
{% load static %}
{% block title %}Registrar Marca{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card shadow-lg w-100 mt-4" style="max-width: 500px;">
        <div class="card-body">
            
            <!-- Botones arriba a la derecha -->
            <div class="d-flex justify-content-end mb-3 gap-2">
                <button type="submit" form="form-edicion" class="btn btn-success btn-sm">Guardar</button>
                <a href="{% url 'listado_marcas' %}" class="btn btn-editar btn-sm">Cancelar</a>
            </div>

            <!-- Formulario -->
            <form method="POST" action="{% url 'registrar_marca' %}" id="form-edicion">
                {% csrf_token %}
                <div class="border rounded p-3">
                    <div class="mb-3">
                        <label for="id_marca"><strong>Nombre de la Marca:</strong></label>
                        {{ form.marca }}
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
